.main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
	
	background-color: #D9AFD9;
	background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);


	
}

#wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(238, 10, 10);
}

.login-box h1 {
    float: left;
    font-size: 50px;
    border-bottom: 4px solid rgb(238, 10, 10);
    margin-bottom: 50px;
    padding: 13px;
}

.textbox {
    width: 100%;
	height: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #191970;
}

.fa {
    width: px;
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    font-size: 18px;
    float: left;
    margin: 0 10px;
}

.button {
    width: 100%;
    padding: 8px;
    color:black;
	background-color: lightgreen;
    border: none;	
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
